{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
</style>

<div class="d-flex flex-column justify-content-center">
    <div class="row text-center">
        <h1>Dostępne produkty</h1>
    </div>

    <div class="row">
        <div class=" d-flex flex-column justify-content-center w-75 text-center"  style="width: 50%; margin: 0 auto">
            <div class="d-flex justify-content-end">
                <a href="{{ path('product_add') }}" class="btn btn-primary"> Dodaj nowy produkt</a>
            </div>
            <table class="table table-striped m-3">
                <thead>
                <tr>
                    <th scope="col" style="width: 30%">Nazwa</th>
                    <th scope="col" style="width: 15%">kcal</th>
                    <th scope="col" style="width: 15%">Białko</th>
                    <th scope="col" style="width: 15%">Węglowodany</th>
                    <th scope="col" style="width: 15%">Tłuszcz</th>
                    <th scope="col" style="width: 15%">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td> {{ product.getName }} </td>
                        <td> {{ product.getKcal }} </td>
                        <td> {{ product.getProteins }} </td>
                        <td> {{ product.getCarbs }} </td>
                        <td> {{ product.getFat }} </td>
                        <td>
                            <a href="{{ path('product_edit', {'id' : product.getId}) }}" class="btn btn-primary">Edytuj</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
